@inject DialogService DialogService
@using PandaSearch.Shared

<div class="d-flex justify-content-evenly align-items-center">
    <RadzenButton Click="si" class="BotonDelete" Text="Yes"></RadzenButton>
    <RadzenButton Click="no" class="BotonSecundario" Text="No"></RadzenButton>
    
</div>