@page "/"
@using PandaSearch.Shared;
@using PandaSearch.Shared.enums;
@inject IJSRuntime JS

<PageTitle>PandaSearch</PageTitle>

<div>
    <div class="FindTextBox">
        <RadzenTextBox @bind-Value=BuscarText></RadzenTextBox>
        <a @onclick=GridProducts>
            <svg class="LupaSvg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                <path d="M 21 3 C 11.6 3 4 10.6 4 20 C 4 29.4 11.6 37 21 37 C 24.354553 37 27.47104 36.01984 30.103516 34.347656 L 42.378906 46.621094 L 46.621094 42.378906 L 34.523438 30.279297 C 36.695733 27.423994 38 23.870646 38 20 C 38 10.6 30.4 3 21 3 z M 21 7 C 28.2 7 34 12.8 34 20 C 34 27.2 28.2 33 21 33 C 13.8 33 8 27.2 8 20 C 8 12.8 13.8 7 21 7 z"></path>
            </svg>
        </a>

    </div>
    <div class="FilterButtons">
        <div class="BotonsIzq">
            <RadzenButton Text="Filter" class="BotonSecundario" Click="OpenFilterModal" />
            <RadzenDropDown TValue="string" Data="@EnumHelper.ObtenerDescripcionesDeEnum(typeof(OrderByType))" TextProperty="Key" ValueProperty="Value" Change="GridProducts" @bind-Value=orderValue Style="width:50%"></RadzenDropDown>
        </div>

        <RadzenButton Text="Clear Filter" class="BotonDelete" Click="ClearFilter" IsBusy=false />
    </div>
    <div class="Body">
        <div class="Ad">
            @*<h3> Aquí su Anuncio</h3>*@
        </div>
            <div class="Grid">
                <div class="row">
                @if (LsProducts.Count != 0)
                {
                    @for (var i = 0; i < LsProducts.Count; i++)
                    {
                        <ProductComponent Product="LsProducts.ElementAt(i)" />

                    }
                }
                else
                {
                    <p>No hay Productos.</p>
                }
            </div>
                @if (LsProducts.Count > numProducts)
                {
                    <p>Page @Page</p>
                    <nav aria-label="Page navigation example">

                        <ul class="pagination">
                            @if (Page != 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" aria-label="Previous" @onclick="() => Paginator(false)">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }

                            @*  <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                            @if (Page != MaxPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next" @onclick="() => Paginator(true)">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </nav>
                }
            </div>
        <div class="Ad">
            @*<h3> Aquí su Anuncio</h3>*@
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("showLogo");
        }
    }
}
