@using PandaSearch.Shared

<div class="col-md-2 col-sm-6 product">
    <a href="@Product.Link" class="image">
        <div class="product-grid">
            <div class="product-image">
                <img class="productImg" src="favicon.png">
            </div>
            <div class="product-content">
                <div class="price">@Product.PriceToString</div>
                <h5 class="brand">@(string.IsNullOrEmpty(Product.Brand.Name)? "" : Product.Brand.Name)</h5>
                <h4 class="title">@Product.Name</h4>
            </div>
        </div>
    </a>
</div>

@code {

    [Parameter]
    public Product Product { get; set; }

}
